# STM32H7[4|5]3I-EVAL: this is for the H7 eval boards.
# This is an ST EVAL-H743XI board with single STM32H743XI chip.
# http://www.st.com/en/evaluation-tools/stm32h743i-eval.html
# This is an ST EVAL-H753XI board with single STM32H753XI chip.
# http://www.st.com/en/evaluation-tools/stm32h753i-eval.html

source [find interface/stlink-v2-1.cfg]

transport select hla_swd

set WORKAREASIZE 0x8000000

source [find target/stm32h7x.cfg]

#reset_config srst_only
# embedded:startup.tcl:500: Error: ** Unable to reset target **